/* body{
     background-color:aquamarine ;
} */
.header nav{
 display:block;
 

}

.header nav h1 {
     text-align: center;
     font-size: large;
     line-height: 1.1rem;
     /* border: 1px solid  coral; */
     padding: 20px;

   
}
.header nav h1 a {
border:none;
}

.header nav li a {
     padding: 0.8em;
     font-size: large;
    
}


.header nav  ul  li{
display: flex;
flex-direction: column;
 justify-content: space-between; 
}

.vp{
     height: fit-content;
}
.vp-content{
     max-width: none;  
   
}
.vp-content h1{
     font-size: 40px;
}


.container .left{
     padding-left: 1rem;
     padding-right: 1rem;
     float:none;
     width:auto;
}
 .container .right{
     padding-left: 1rem;
     padding-right: 1rem;

     float:none;
     width:auto;
}



