@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/**
Reset CSS
**/

* {

    box-sizing: border-box;
    padding:0;
    margin: 0;
}
html,body{
     font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color:rgb(58, 57, 57);
}


/**
* general
**/

/* header */ 
.header{
    background-color: #333;
    width: 100%;
    /* max-height: 200px; */
    min-width: 300px;
    /*suppresion comportement bizarre avec float */
    overflow: auto;
    line-height: 1.7em;

}


.header nav h1 {
   float: left;
    padding:20px;
    margin-bottom: 0;
    
}
.header nav h1 a{
    color: white;
}
.header nav ul{
    float: right;
    list-style: none;
}

.header nav ul li{
    float: left;
}
.header  nav  ul li a{
    color:white;
    padding: 20;
    display: inline-block;
}
.header  nav  ul li a:hover{
    background-color: #444;
}

.active{
    background-color: #444;
}






.header  nav h1:hover,.header nav  a:hover{
        /* background-color: rgb(175, 57, 62); */
        background-color: #222;
        /* padding:1em; */
} 
    
